nav {
    /* padding: 12px;
    display: flex;
    justify-content: space-between;
    z-index: 21;
    color: rgb(0, 0, 0);
    position: relative; */
    padding: 12px;
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 12%), 0 7px 10px -5px rgb(0 0 0 / 15%)!important;
}
tr th{
    margin-top: auto;
    margin-bottom: auto;
    text-transform: capitalize;
}
.bg{
    background: url('./../Img/city-profile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bgt{
    background: url('./../Img/city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    

}
.logo{
    width: 80px;
    margin: auto;
    /* transform: translate(-50%, -50%); */
    animation-name: scla;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;

}
.card-img-top{
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    text-decoration: none!important;
}
.unse{
    display: unset!important;
}
.fs{
    font-weight: 600;
    font-size: 18px;
}
@keyframes scla {
    0%{
        transform: unset;
        
    }
    100%{
        transform: scale3d(1.5,1.5,1.5);
    }
}


#root{
    overflow: hidden;
}
.fs{
    font-weight: 600 !important;
}

.text-end{
    text-align: end;
}
.bs{
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
a{
    text-decoration: none;
}
.p-33{
    padding: 33px;
}


.hidesc::-webkit-scrollbar{
    display: none;
}

.circle{
        position: absolute;
        /* top: 0; */
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255 79 90);
        clip-path: circle(31% at right 23%);
        
}
.trian{
    padding: unset;
    width: 0px;
    height: 0px;
    border-bottom: 50px solid rgb(255 79 90);
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    animation: spin 2s linear infinite;

}


.linkB{
    
    /* padding-bottom: 7px; */
    font-weight: 600;
    /* border-bottom: 2px solid #142b6f; */
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 27px;

    /* padding: 9px 0 9px 0 ; */

    transition: .2s ease-in-out;
}
a{
    color: var(--rose)!important;
}

a:hover{
    opacity: .7;

}

/* #142b6f */
.linkB:hover{
    /* color: #fff; */
    /* border-radius: 22px; */
    /* border-bottom: 2px solid #142b6f; */
    /* padding: 9px ; */
    text-decoration: none!important;
}


  


.wave {
    width: 2000px;
    height: 80vh;
    border-radius: 50% 50% 0 0;
    transform: rotate(
180deg);
    background: linear-gradient(
181.66deg, #FFEE32 29.97%, #FFD100 97.03%);
    filter: blur(8px);
    
    z-index: 1;
  }


.circlee{
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100vh;
    font-size: 73px;
    animation: spin 2s linear infinite;
    
}
.btn{
    transition: all .53s ease-in-out;
    padding: 7px 10px;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.butn-rose{
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 2px 2px 0 rgb(233 30 99 / 14%), 0 3px 1px -2px rgb(233 30 99 / 20%), 0 1px 5px 0 rgb(233 30 99 / 12%);
}

.ImgCard:hover .Imxyt{
   transform: scale(1.061); 
}

@keyframes drpani {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.clsdrp{
    animation-name: clsdrp;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.4,0,.2,1);

}
@keyframes clsdrp {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
        display: none;
    }
}

@media (max-width:600px) {
    
    
    
}
@media (max-width:500px) {
   
   
    
}



@media (max-width:720px) {
    
     
}